<div class="white-ground">
	<div id="tag">
		<div class="container">
			<h2 style="font-size: 2em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
		</div>
		<div class="container master-padding">
			<p class="pull-right"><%= Time.now.strftime("%A %d %B %Y") %></p>
			<h1 style="margin-bottom: .7em;">Dashboard &nbsp; &nbsp; <small>Hello <%= @user = User.get(session[:admin]).first_name %> <%= @user = User.get(session[:admin]).last_name %></small></h1>
			
			<hr />
			<h5></h5>
			
			
			<div class="col-md-4">
			<table class="table table-striped table-condensed">
				<tr>
					<% @article = Article.all %>
					<th style="text-align: right; width: 15%;"> <span class="badge"><%= @article.count %></span></th>
					<td>News Articles</td>
					<td style="text-align: right;"><a href="/articles/articles" class="btn btn-default btn-xs">Manage</a></td>
				</tr>
				<tr>
					<% @user = User.all %>
					<th style="text-align: right; width: 15%;"> <span class="badge"><%= @user.count %></span></th>
					<td>Users</td>
					<td style="text-align: right;"><a href="/users" class="btn btn-default btn-xs">Manage</a></td>
				</tr>
				<tr>
					<% @company = Company.all %>
					<th style="text-align: right; width: 15%;"> <span class="badge"><%= @company.count %></span></th>
					<td>Companies</td>
					<td style="text-align: right;"><a href="/companies" class="btn btn-default btn-xs">Manage</a></td>
				</tr>
				<tr>
					<% @machine = Machine.all %>
					<th style="text-align: right; width: 15%;"> <span class="badge"><%= @machine.count %></span></th>
					<td>Machines</td>
					<td style="text-align: right;"><a href="/machines/machines" class="btn btn-default btn-xs">Manage</a></td>
				</tr>
				<tr>
					<% @order = Order.all(:created_at.gte => Chronic.parse('one week ago'), :created_at.lte => Chronic.parse('now'))%>
					<th style="text-align: right; width: 15%;"> <span class="badge"><%= @order.count %></span></th>
					<td colspan="2">Recent orders <small>(within one week ago)</td>
				</tr>
			</table>
			</div>
				<div class="col-md-8">
					
					<div class="btn-group pull-right" id="archive-list-toggle">
					  <button class="btn btn-default btn-xs" data-toggle="false">Unread</button>
					  <button class="btn btn-default btn-xs" data-toggle="true">Archived</button>
					</div>
					<h6>Contact Responses</h6>
				<table class="table table-striped table-condensed">
				<% @contact = Contact.all %>
				<% @contact.sort{|a,b| b.created_at <=> a.created_at}.each do |contact| %>
				<tr>
					<td class="archive-link"  data-status="<%= contact.archive %>"><small><%= contact.created_at.strftime("%A %d %B %Y") %></small></td>
					<td class="archive-link"  data-status="<%= contact.archive %>"><%= contact.name %></td>
					<td class="archive-link"  data-status="<%= contact.archive %>"><%= contact.company %></td>
					<td class="archive-link center"  data-status="<%= contact.archive %>"><% if contact.description == "" %><span class="label label-info">Comment</span><% else %><span class="label label-danger">Test Cleaning</span><% end %></td>
					<td style="text-align: right;" class="archive-link"  data-status="<%= contact.archive %>"><a href="/contacts/<%= contact.id %>/edit_contact"><span style="color: #195fae;"><i class="icon-edit"></i></span></a> &nbsp; <a href="/contacts/<%= contact.id %>/delete" class="delete"><span style="color: #f66316;"><i class="icon-trash"></i></span></a></td>
				</tr>
				<% end %>
				</table>
			</div>	
				
				
				
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.link-row').click(function() {
		window.location = $(this).attr('id');
	});

	$('td.archive-link[data-status="true"]').hide();
	
	$('#archive-list-toggle button').click(function() {
		$('#archive-list-toggle button').removeClass('Unread');
		$(this).addClass('Unread');
		var status = $(this).attr('data-toggle');
		$('.archive-link').hide();
		$('.archive-link[data-status="' + status + '"]').show();
		return false;
	});
</script>