<img src="/img/ribbon.png" style="position: absolute; right: 3%; top: 44px; z-index: 1000;" />

<div class="white-ground">
	<div id="tag">
		<div class="top-bar">
			<div class="container">
				<h2 style="font-size: 2.5em; margin-top: 4px; letter-spacing: -1px; color: white;">Dinamec<span style="font-weight: 300; color: #b5b5b5;">Systems</span></h2>
			</div>
		</div>
	<div class="container master-padding">
		<div class="row">
				<div class="col-md-8">
					<h2>You can get a demonstration of the Dinamec Systems Fluid Clean process</h2>
					<p>Let us prove our cleaning efficiency by performing a trial cleaning at one of our testing facilities. Complete and submit the form below and a Dinamec Systems representative will be in touch.</p>
					<br />
					<form class="form-horizontal" method="post" action="cleaning" name="cleaning" id="cleaning">
					  <div class="form-group">
					    <label for="name" class="col-sm-3 control-label">Name</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="<%= @contact.name %>">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="company" class="col-sm-3 control-label">Company</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" name="company" id="company" placeholder="Company" value="<%= @contact.company %>">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="email" class="col-sm-3 control-label">Email</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" name="email" id="email" placeholder="Email" value="<%= @contact.email %>">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="phone" class="col-sm-3 control-label">Phone</label>
					    <div class="col-sm-9">
					      <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone" value="<%= @contact.phone %>">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="description" class="col-sm-3 control-label">Description</label>
					    <div class="col-sm-9">
					      <textarea class="form-control" id="description" name="description" rows="6" placeholder="Description of part to be cleaned"><%= @contact.description %></textarea>
					    </div>
					 </div>
					  <div class="form-group">
						  <label for="comment" class="col-sm-3 control-label"> </label>
						  <div class="col-sm-9">
							  <div class="g-recaptcha" data-sitekey="6LeKFAsTAAAAAM8ha8vbTucW5VKRooPlXjU383Xm"></div>
						  </div>
					  </div>
					  <div class="form-group">
						  <label for="comment" class="col-sm-3 control-label"> </label>
						  <div class="col-sm-9">
					  		<button type="submit" class="btn btn-default btn-success">Submit</button>
	 						</div>
	 					 </div>
					</form>
				</div>
			</div>
			<br /><br /><br />
		</div>
	</div>
</div>

<script language="JavaScript" type="text/javascript"
	xml:space="preserve">
	var frmvalidator  = new Validator("cleaning");
	frmvalidator.addValidation("name","req","Please enter your name");
  
	frmvalidator.addValidation("company","req","Please enter your company");
  
	frmvalidator.addValidation("email","req","Please enter your email");
	frmvalidator.addValidation("email","email");
  
	frmvalidator.addValidation("phone","req","Please enter your phone");
  
	frmvalidator.addValidation("description","req","Please enter a part description");
	
//]]></script>


