<div class="white-ground">
	<div id="tag">
		<div class="container">
			<img src="/img/fluid-clean-logo.png" class="pull-right border shadow hidden-xs" style="padding-top: 8px; margin: 24px 12px 0 0;" />
			<h2 style="font-size: 2.3em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
			<img src="/img/fluid-clean-logo.png" class="border shadow visible-xs" style="padding-top: 8px; margin: 24px 12px 0 0;" />
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4" style="margin-top: 0; margin-bottom: 3em;">
					<h1>News</h1>
					<% Article.all.sort{|a,b| b.date <=> a.date}.each do |article| %>
						<p class="news-date"><%= article.date.strftime("%B %d, %Y") %></p>
						<a href="<%= article.id %>" class="news-link under-link"><%= article.title %></a>
					<% end %>
				</div>
				<div class="col-md-8" style="margin-top: 3em; margin-bottom: 3em;">
					<p><%= @article.date.strftime("%B %d, %Y") %></p>
					<hr />
					<h4 style="font-size: 2em;"><%= @article.title %></h4>
					<% unless @article.author == "" %>
				   	<p style="margin: -12px 0;"><em><%= Kramdown::Document.new(@article.author).to_html %></em></p>
					<% end %>
					<%= Kramdown::Document.new(@article.content).to_html %>
				</div>
			</div
		
		</div>
	</div>
</div>
