<div class="white-ground">
	<div class="container">
		<h2 style="font-size: 2em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
	</div>
	<div class="container master-padding">
		<p class="pull-right"><%= Time.now.strftime("%A %d %B %Y") %></p>
		<h1>Profile</h1>
		<hr />
		<div class="row">
			<% if session[:customer] %>
			<div class="col-md-6">
				<h6><%= @user = User.get(session[:customer]).first_name %> <%= @user = User.get(session[:customer]).last_name %></h6>
				<% @company = Company.all %>
				<% @company.each do |company| %>
					<% if (@user = User.get(session[:customer]).company_id) == company.id %>
						<br />
						<h5><%= company.company %></h5>
						<p>
							<%= company.address1 %><br />
							<% unless company.address2 == "" %><%= company.address2 %><br /><% end %>
							<%= company.city %> <%= company.state %> <%= company.zip %><br /><br />
							<% unless company.phone == "" %><%= company.phone %> &nbsp; <small>PHONE</small><br /><% end %>
							<% unless company.fax == "" %><%= company.fax %> &nbsp; <small>FAX</small><br /><% end %>
							<% unless company.website == "" %><%= company.website %><% end %>
						</p>
			</div>
			<div class="col-md-6">
				<h5>Machines</h5>
						<table class="table table-striped table-condensed">
							<% @machine = Machine.all %>
							<% @machine.each do |machine| %>
								<% if machine.company_id == company.id %>
								<tr>	
									<td><%= machine.name %></td>
									<td style="text-align: right;"><a href="/machines/<%= machine.id %>/order-part" class="btn btn-xs btn-primary">Order Parts</a></td>
								</tr>
								<% end %>
							<% end %>
						</table>
					
				<br />
				<h5>Order History</h5>
				<table class="table table-striped table-condensed">
					<tr>
						<th style="text-align: center;">Order</th>
						<th>PO</th>
						<th>Order Date</th>
						<th style="text-align: center;">View</th>
					</tr>
					<% @machine.each do |machine| %>
						<% if machine.company_id == company.id %>
							<% @order = Order.all %>
							<% @order.sort{|a,b| b.updated_at <=> a.updated_at}.each do |order| %>
								<% if order.machine_id == machine.id %>
								<tr>
									<td style="text-align: center;"><%= order.id %></td>
									<td><%= order.po_number %></td>
									<td><%= order.created_at.strftime("%a %d %B %Y") %></td>
									<td style="text-align: center;"><span class="under-link"><a href=""><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></span></td>
								</tr>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				</table>
			<% end %>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
