<div class="white-ground">
	<div class="container">
		<h2 style="font-size: 2em; letter-spacing: -1px;">Dinamec<span style="font-weight: 300; color: #95989c;">Systems</span></h2>
	</div>
	
	<div class="container master-padding">
		<% if session[:customer] && @user.active %>
		<% if session[:admin] %>
		<p class="pull-right"><a class="btn btn-sm btn-default" href="/parts/orders">Orders</a></p>
		<% end %>
		<% if session[:customer] %>
		<p class="pull-right"><a class="btn btn-sm btn-primary" href="/profile">Profile</a></p>
		<% end %>
		<h1 style="margin-bottom: .7em;">Parts Order for <%= @machine = Machine.get(params[:machine_id]).name %></h1>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group ">
				    <label for="po_number" class="col-sm-2 control-label right">Date</label>
				      <span class="help-inline"><%= @order.created_at.strftime("%d %B %Y") %></span>
				</div>
				<div class="form-group">
				    <label for="po_number" class="col-sm-2 control-label right">PO Number</label>
				      <span class="help-inline"><%= @order.po_number %></span>
				</div>
				<div class="form-group">
				    <label for="po_number" class="col-sm-2 control-label right">Comment</label>
				      <span class="help-inline"><%= @order.comment %></span>
				</div>
				<table class="table table-striped table-condensed table-bordered table-hover">
					<% @machine = Machine.get(params[:machine_id]) %>
					<tr style="font-size: .9em;">
						<th style="text-align: center;">Qty</th>
						<th>Part</th>
						<!-- <th style="text-align: center;">Qty</th> -->
						<th>Part Number</th>
						<th>Description</th>
						<th style="text-align: center;"></th>
					</tr>
					<% @part.each do |part| %>
					<% if part.machine_id == @machine.id %>
					<tr style="font-size: .9em;">
						<td style="text-align: center;"></td>
						<td><%= part.part %></td>
						<!-- <td style="text-align: center;"><%= part.quantity %></td> -->
						<td><%= part.part_number %></td>
						<td><%= part.description %></td>
						<td><small class="temp"><%= part.machine_id %></small></td>
					</tr>
					<% end %>
					<% end %>
				</table>

						
				  <div class="form-group hidden">
					  <label for="machineid" class="col-sm-2 control-label">Machine</label>
					  <div class="col-sm-4">
						  <select type="text" id="machineid" name="machineid" class="form-control">
							  <% @machine = Machine.get(params[:machine_id]) %>
							  <option value="<%= @machine.id %>" <%= 'selected' if @order.machine_id == @machine.id %>><%= @machine.name %></option>
						  </select>
					  </div>
				  </div>
				</div>
			</div>
			<% else %>
			<div class="col-md-6">
				<h6>You must be an active client to view this page.</h6>
				<p>Please contact your CSR with any questions.</p>
				<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			</div>
			<% end %>
		</div>
	</div>
</div>